// zmienne

$background-page-color: #e5e5e5;
$background-icon-color: #afb1b8;
$brand-color-primary: #2196f3;
$brand-color-background: #2f303a;
$brand-color-secondary: #212121;
$brand-color-ordinary: #f5f4fa;
$brand-color-white: #ffffff;
$brand-color-logo-black: #000000;
$paragraf-text-color: #757575;
$footer-icon-color: rgba(255, 255, 255, 0.1);
$footer-text-color: rgba(255, 255, 255, 0.6);
$line-color: #ececec;
$main-font: "Roboto", sans-serif;
$background-color-thumb: #2f303acc;
$backdrop-color: rgba(0, 0, 0, 0.2);
$button-modal: rgba(0, 0, 0, 0.1);
$container-color: #eeeeee;
$form-window-border: rgba(255, 255, 255, 0.3);
$modal-form-border: rgba(33, 33, 33, 0.2);
$modal-text-color: rgba(117, 117, 117, 0.5);
$secondary-font: "Raleway", sans-serif;
$grid-margin: 30px;
$fontSmall: 500;
$fontMedium: 700;
$fontBig: 900;
